*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(204, 195, 255, 0.61),
      rgba(155, 255, 222, 0.938)
    ),
    url("./components/layout/images/background-hero.jpg") !important;
  background-size: contain;
  font-family: "Open Sans" !important;
}

/*panel*/

.instruction-panel {
  display: flex;
  justify-content: space-between;
}

/*  Signup  */

/* Nav */

nav {
  background-color: rgba(0, 0, 56, 0.726) !important;
  position: fixed;
  z-index: 99;
}

.navlinks {
  display: inline-block;
  font-size: 18px;
  transform: scale(0.75, 1);
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.644);
  color: rgb(1, 1, 73) !important;
}

/* Form field styling */

input {
  border: 2px solid #eeeeee;
  height: 46px;
  margin: 10px 0 0 0;
  padding: 1%;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333333;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: 300;
}

/* Top-level Styling */

::-webkit-input-placeholder {
  color: #4400007c;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #4400007c;
  opacity: 1 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4400007c;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: #4400007c;
}

* {
  margin: 0;
  /* padding: 0; */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

/* Parallax */

.parallax-container {
  height: 350px !important;
}

.section-about {
  padding-top: 3rem;
  padding-bottom: 7rem;
}
/* Parallax End */

#wrapper {
  max-width: 60%;
  height: 500px;
  background: #fff;
  margin: 0px auto 0;
  padding: 20px;
}
/* Div Layout Styling */

#wrapper-login {
  max-width: 60%;
  height: 100%;
  background: #fff;
  margin: 0 auto 0;
  padding-top: 120px;
}

#subscribeBox {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  height: auto;
  width: 50%;
  min-width: 325px;
}

*:focus {
  outline: none;
}

.subscribeForm {
  display: block;
  margin: 20px 0 0 0;
  width: 90%;
}
/* Text Styling for h2, p, a */

h2 {
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #333333;
  font-style: normal;
  text-align: center;
  /* font-family: source-sans-pro, sans-serif !important; */
}

.thin {
  font-weight: 200 !important;
}

a {
  text-decoration: none;
  color: #333333;
}

p {
  display: block;
  width: 90%;
  margin: 20px 0 0 0;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333333;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: 300;
  /* font-family: source-sans-pro !important; */
}
/**/

.my-container {
  width: 100%;
  margin: 0px;
  padding: 45px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* float: left; */
}

/* .my-container main {
  width: 50%;
  float: left;
} */

.slider .indicators .indicator-item {
  display: none !important;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: #e0e0e0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item {
  display: none !important;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 50%;
}
.slides {
  border: 4px solid #ad020a;
  z-index: 0;
  border-radius: 5px;
}

.slider,
.card {
  width: 40%;
  border-radius: 5px;
  top: 30px;
}

.collapsible {
  width: 40%;
}

.preloader-new {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(23, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}

.preloader-wrapper.active2 {
  /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
  -webkit-animation: container-rotate 1568ms linear infinite !important;
  animation: container-rotate 1568ms linear infinite !important;
}

section.primary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* border-right: 4px solid rgb(180, 16, 49); */

section.secondary {
  padding-top: 100px;
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
  background-image: linear-gradient(
      to right bottom,
      rgba(10, 0, 65, 0.61),
      rgba(47, 0, 68, 0.938)
    ),
    url("./components/layout/images/texture.jpg");
  background-size: 100%;
  align-items: flex-end;
}
section {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 50px;
}

.collection {
  margin: 0rem 0 1rem 0 !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  padding: 45px auto 150px !important;
  width: 80%;
}

/* .collection-item.highlight:first-child {
  padding-top: 20px !important;
} */

/* .secondary {
  width: 41%;
  position: relative;
} */

/*transition list */
.list-item-appear {
  opacity: 0.01;
}

.list-item-appear.list-item-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.list-item-enter {
  opacity: 0.01;
  transform: translate(0, 1em);
}

.list-item-enter.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transform: translate(0, 0);
}

.list-item-leave {
  opacity: 1;
}

.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform: translate(-5em, 0) scale(0, 0);
}

/*transition list end*/

#t-head-icon {
  float: right;
}

#completed-text {
  color: white !important;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

span.indigo {
  border-radius: 25px;
}

.highlight {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.highlight:hover {
  background-color: rgb(194, 193, 252);
}
.tt-helper {
  right: -348px;
  bottom: -327px;
  position: fixed;
}

.tt-content-helper {
  width: 456px;
  height: 400px;
  inset: 0px;
  padding: 56px;
  vertical-align: bottom;
}

.tt-wave-helper {
  top: 344px;
  left: 344px;
  width: 112px;
  height: 112px;
}

#zaxximo-logo {
  margin-left: 3%;
  letter-spacing: 1.5rem;

  font-size: 3rem;
}

/*Button*/

.button-title {
  display: inline-block;
  position: relative;
  margin: 1em;
  padding: 0.67em;
  border: 2px solid #fff;
  overflow: hidden;
  text-decoration: none;
  font-size: 2em;
  outline: none;
  color: #fff;
  background: transparent;
}

.button-title span {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button-title:before,
.button-title:after {
  content: "";
  position: absolute;
  top: 0.67em;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.4s, opacity 0.6s;
  -moz-transition: 0.4s, opacity 0.6s;
  -o-transition: 0.4s, opacity 0.6s;
  transition: 0.4s, opacity 0.6s;
}

/* :before */

.button-title:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}

/* :after */

.button-title:after {
  content: attr(data-active);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}

/* Span on :hover and :active */

.button-title:hover span,
.button-title:active span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

/*  
  We show :before pseudo-element on :hover 
  and :after pseudo-element on :active 
*/

.button-title:hover:before,
.button-title:active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* 
We hide :before pseudo-element on :active
*/

.button-title:active:before {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/*Button*/

.about-us {
  width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.primary {
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-screen-container {
  background-image: url("https://images.unsplash.com/photo-1573496782646-e8d943a4bdd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: rgba(0, 0, 56, 0.726);
  padding: 20px 30px;
  min-width: 400px;
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.login-title {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.name-input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.input-group label,
.name-input-group label {
  color: #fff;
  font-weight: lighter;
  font-size: 1em;
  margin-bottom: 7px;
}

.input-group input,
.name-input-group input {
  font-size: 1em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.login-button {
  align-self: center;
  width: 50%;
  border-radius: 5px;
  background: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  font-size: 1.5em;
  color: #fff;
  font-weight: lighter;
  margin-top: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}

.login-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}
